*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


header{

    height: 6vh;
    background-color: black;
    display: flex;
   
    justify-content: space-around;
    align-items: center;
    
}
.href{
    color: white;
    text-decoration: none;
}

.imagenes{
    width: 100%;
    height: 94vh;
    display: flex;
    flex-wrap: wrap;
}

.imagenes img{
    width: 33.3%;
    height: 50%;

}