*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

header{
    height: 10vh;
    width: 100%;
    background-color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 150px;
   
    

  }
  header a{
    color: white;
    text-decoration: none;
    font-family: "Avenir Next", "Avenir", sans-serif;
    transition: color 0.8s linear 0.2s;
  }

  a:hover {
    color: rgba(21, 224, 48, 0.612);
    
  }

   

  #contenedorPrincipal{
   
    height: 150vh;
    font-family: "Avenir Next", "Avenir", sans-serif;
    font-weight: bold;
    font-size: 14pt;
    background-image: url("fondomatrix.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    gap: 3%;
    padding-top: 4%;
  }
    
  div.noticia {
    width: 50%;
    margin: 20px auto;
    /* background-color: rgba(209, 209, 223, 0.495); */
    backdrop-filter: blur(100px);
    color: white;
    font-weight: bold;
    padding: 15px;
    transition: transform .5s; 
  }
  
  div.noticia img.izquierda {
    float: left;
    margin-right: 15px;
  }
  div.noticia:hover{
    
    transform: scale(1.2); 
  }
  

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(42, 49, 49, 0.597)
  }
        
      
  .social{
    width: 1%;
    height: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: transform .2s; 
    gap:90%;
    }

    .social:hover {
        transform: scale(1.5); 
    }
  