*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Bodoni Moda', serif;
    font-family: 'Cormorant', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif;

}


header{
    height: 10vh;
    width: 100%;
    background-color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 150px;
    
  }
   header a{
    color: white;
    text-decoration: none;
    font-family: "Avenir Next", "Avenir", sans-serif;
    transition: color 0.8s linear 0.2s;
  }

  a:hover {
    color: rgba(77, 217, 232, 0.843);
  }

 
  #contenedorDescripcion{
    height: 130vh;
    width: 100vw;
    background-image: url("codigo.jpg");
    background-size: cover;
    backdrop-filter: blur(40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  #nombre{
    font-size: 35pt;
    font-size: bold;
    width: 30%;
    color: rgb(72, 124, 227);
    text-align: center;
  }

  #descripcion{
    font-family: 'Bodoni Moda', serif;
    border-radius: 5%;
    font-size: 17pt;
    font-size: bold;
    width: 50%;
    height: 60%;
    color: rgb(98, 228, 230);
    text-align: justify;
    

  }
  .sara-perfil{
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    justify-content: space-between;
  }

  .sara-perfil img{
    border: 7px solid rgba(56, 139, 203, 0.737);
    border-radius: 40%;
    height: 24rem;
    width: 24rem;
    object-fit: cover;
  }

  #informacionContacto{
    border: 3px solid blue;
    color: white;
    font-size: bold;
    height: 30%;
    width: 20%;
    display: flex;
    align-items: flex-end;

  }
  .card {
    width: 200px;
    height: 274px;
    background: rgba(255, 255, 255, 0.627);
    padding: .4em;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
  }
  
  .card-image {
    background-color: rgba(101, 151, 212, 0.299);
    width: 100%;
    height: 60%;
    border-radius: 6px 6px 0 0;
    display: flex;
    align-items: center;
  }
  
  .card-image:hover {
    transform: scale(1);
  }
  
  .category {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: bold;
    color: rgb(17, 105, 206);
    padding: 10px 7px 0;
  }
  
  .category:hover {
    cursor: pointer;
  }
  
  .heading {
    font-weight: 600;
    color: rgb(9, 9, 9);
    padding: 7px;
    font-size: 9pt;
  }
  


.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(42, 49, 49, 0.597)
  }
        
      
  .social{
    width: 1%;
    height: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    transition: transform .2s; 
    gap:90%;
    }

    .social:hover {
      transform: scale(1.5); 
  }

  
  
 